flask
flask-sqlalchemy
flask_bootstrap
flask_wtf
Flask-Migrate
Flask-Login
Flask-Bcrypt
flask_uploads
email_validator
poetry
pytest
pytest-flask
coverage
pytest-cov
locust
Pillow
flake8
flake8-html
python-dotenv
python-decouple
