coverage
email_validator
flake8
flake8-html
flask
flask-sqlalchemy
flask_bootstrap
flask_wtf
Flask-Migrate
Flask-Login
Flask-Bcrypt
flask_uploads
locust
poetry
Pillow
pytest
pytest-flask
pytest-cov
python-dotenv
python-decouple
