# python version = 3.10.11
# python.exe -m pip install --upgrade pip
poetry
Bootstrap-Flask
flask
flask-sqlalchemy
flask_wtf
Flask-Migrate
Flask-Login
Flask-Bcrypt
flask_uploads
email_validator
pytest
pytest-flask
coverage
pytest-cov
locust
Pillow
flake8
flake8-html
python-dotenv
python-decouple