<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GUDLFT Registration</title>
  </head>
  <body>
    <h1>Bienvenue sur le portail GUDLFT !</h1>
    Veuillez entre votre email pour continuez:

    <!-- le paramètre action permet de rediriger vers la vue showSummary -->
    <form action="showSummary" method="post">
      <label for="email">Email:</label>
      <input type="email" name="email" id="" />
      <button type="submit">Valider</button>
    </form>
  </body>
</html>
